.view-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
  } 
  
  .student-profile-card p {
    font-size: 18px;
    margin-bottom: 10px;
  } 
  
.viewbtn {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
  }